<launch>
  <!-- Robot parameters -->
  <arg name="arduino_port" default="/dev/ttyACM0" />
  <arg name="arduino_baud" default="57600" />
  <arg name="lidar_port" default="/dev/ttyUSB0" />
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, hector]"/>
  <arg name="use_rviz" default="false" doc="set to true to enable RViz"/>
  
  <!-- Start the actual robot hardware -->
  <include file="$(find custom_robot)/launch/robot_bringup.launch">
    <arg name="arduino_port" value="$(arg arduino_port)"/>
    <arg name="arduino_baud" value="$(arg arduino_baud)"/>
    <arg name="lidar_port" value="$(arg lidar_port)"/>
    <arg name="rviz" value="false"/>
  </include>
  
  <!-- Start SLAM -->
  <include file="$(find custom_robot)/launch/custom_slam.launch">
    <arg name="slam_methods" value="$(arg slam_methods)"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
  </include>
</launch>